<div class="container bleft rcorners apd">
  <p class="divtitle">Administrable Product ({{ forloop.index }} of {{ apds | size }})</p>
  <p>
    Dose form:
    <b>
      {{ apd.administrableDoseForm.coding[0].display }}
    </b>
  </p>

  <p>
    Presentation unit:
    <b>
      {{ apd.unitOfPresentation.coding[0].display }}
    </b>
  </p>

  Ingredients:
  {% comment %}Get Ings from Bundle {% endcomment %}
  {% assign apdings = entry | where: "resource.resourceType", "Ingredient" %}
    {% for apdingr in apdings %}
    {% assign apding = apdingr.resource %}

    {% assign apdingtid = apding.id | prepend: 'AdministrableProductDefinition/' %}
    {% assign apdtid = apd.id | prepend: 'AdministrableProductDefinition/' %}

    {% comment %}if the ingredient's SECOND (TO FIX) .for is the current APD, {% endcomment %}

    {% for apdingfor in apding.for %}
      {% if apdingfor.reference == apdtid %}
        <div class="container   rcorners apding">
          <b>
            {{ apding.id }}</b>
          <p>
            Status:
            <b>
              {{ apding.status | capitalize }}
            </b>
          </p>

          <p>
            Role:
            <b>
              {{ apding.role.coding[0].display }}
            </b>
          </p>

          <p>
            Substance:
            <b>
              {{ apding.substance.code.concept.coding[0].display }}
            </b>
          </p>

          {% for strn in apding.substance.strength %}
            {% if strn.concentrationRatio %}
              <p>
                Concentration strength:
                <b>
                  {{ strn.concentrationRatio.numerator.value }}{{ strn.concentrationRatio.numerator.unit }} /
                  {{ strn.concentrationRatio.denominator.value }}{{ strn.concentrationRatio.denominator.unit }}
                </b>
              </p>
            {% endif %}
          {% endfor %}

          {% for strn in apding.substance.strength %}
            {% if strn.presentationRatio %}
              <p>
                Presentation strength:
                <b>
                  {{ strn.presentationRatio.numerator.value }} {{ strn.presentationRatio.numerator.unit }} /

                  {{ strn.presentationRatio.denominator.value }} {{ strn.presentationRatio.denominator.unit }}
                </b>
              </p>
            {% endif %}
          {% endfor %}


        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}



  Route of administration:
  <ul>
    {% for roas in apd.routeOfAdministration %}
      <li>
        <b>
          {{ roas.code.coding[0].display }}
        </b>
      </li>
    {% endfor %}
  </ul>

</div>