<p>Package: {{ pckg.quantity }} {{ pckg.type.coding[0].display }}
  {% assign pcks = pckg.material | size %}
  {% if pcks != 0 %}
    {% for pckgm in pckg.material %}
      ({{ pckgm.coding[0].display }})
    {% endfor %}
  {% endif %}
</p>

Containing:
{% for pckgcontainedItem in pckg.containedItem %}
  <div class="container rcorners packitem">
    {{ pckgcontainedItem.amount.value }} {{ pckgcontainedItem.amount.unit }}
    {{ pckgcontainedItem.item.concept.coding[0].display }}

    {% assign mids = bundle.entry | where: "resource.resourceType", "ManufacturedItemDefinition" %}
    {% for midr in mids %}
      {% assign mid = midr.resource %}
      {% assign fmid = mid.id | prepend: 'ManufacturedItemDefinition/' %}

      {% if pckgcontainedItem.item.reference.reference == fmid %}
        {% include mid.liquid mid=mid %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

{% for pckg in pckg.package %}
  <br/>
  <div class="container rcorners innerpack bleft">
    {% include ppd-packaging.liquid pckg=pckg %}
  </div>
{% endfor %}

{% comment %}
<div class="container rcorners innerpack"></div>
{% endcomment %}