{% for ppid in ppd.identifier %}
  {{ ppid.system | split: '/' | last | upcase }}:
  <b>
    {{ ppid.value }}
  </b>
{% endfor %}
<p>
  Description:
  <b>
    {{ ppd.description }}
  </b>
</p>
Marketing Status:
<ul>
  {% for mkts in ppd.marketingStatus %}
    <li>
      {{ mkts.country.coding[0].display }}:
      <b>
        {{ mkts.status.coding[0].display }}
      </b>
    </li>
  {% endfor %}
</ul>
<p>
  Pack Size:
  <ul>
    {% for quant in ppd.containedItemQuantity %}
      <li>
        {{ quant.value }} {{ quant.unit | pluralize: quant.unit }}</li>
    {% endfor %}
  </ul>
</p>

<p>
  {% assign pckg = ppd.package %}
  Pack:<div class="container rcorners pack bleft">
    {% comment %}Include the ppd-package (recursive, with pckg as the object to parse) {% endcomment %}
    {% include ppd-packaging.liquid pckg=pckg %}
  </div>

</p>